<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCB_Layout_GA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCB_Layout_GA.Properties.Settings>
            <setting name="LibrarySearchPaths" serializeAs="String">
                <value>C:\Program Files (x86)\KiCad\share\modules;C:\Program Files (x86)\KiCad\;C:\Program Files (x86)\KiCad\share\library\doc;C:\Program Files (x86)\KiCad\share\template</value>
            </setting>
        </PCB_Layout_GA.Properties.Settings>
    </userSettings>
</configuration>